* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  padding: 40px;
}

.page {
  background-color: white;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 40px;
}

.header {
  margin-top: 10px;
  padding: 0px 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 48px;
  align-self: center;
  flex: 1 0 auto;
}

.light {
  margin: 0px;
  margin-left: auto;
  flex: 1 0 auto;
}

.slidecontainer {
  margin-top: 20px;
  width: 95%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.layout {
  margin-top: 75px;
  align-self: flex-start;
  margin-left: 25%;
  font-size: 36px;
}

.container {
  width: 50%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  display: flex;
  width: 100%;
}

.square {
  flex: 1 0 auto;
}

button {
  font-size: 16px;
  align-self: flex-start;
  margin-left: 25%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
}
